div{
    display: flex;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    justify-content: center;
    align-items: center;
}
