button{
    margin-right: 10px;
}
ul{
    margin-top: 15px;
    font-family: 'Merriweather', serif !important;
}
.card{
    background-color: aliceblue;
}
h1{
    margin-top: 30px;
    color: #1c99a4;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
input{
    margin-top: 30px;
}
.main{
    margin-bottom: 80px;
}
.center{
    text-align: center;
}